<div class="form">
  <h1>Login</h1>
  <%= render 'session_form' %>
  <div style="height: 110px"></div>
  <%= link_to 'not yet a user? signup!', new_user_path %>
</div>
<div class="form_description">
  <h1>.do</h1>
  <p>/make tasks</p>
  <p>/add tags</p>
  <p>/be organized</p>
</div>